*, 
*::before, 
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	height: 100vh;
	background-color: #1a1a1a;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}

.btn {
	padding: 0.5rem 1rem;
	font-size: 12px;
	outline: none;
	border: none;
	cursor: pointer;
}

.box {
	transition: 1s;
	position: absolute;
	aspect-ratio: 1/1;
	box-shadow: 0px 0px 3rem 1rem rgba(0, 0, 0, 0.3);
	z-index: -1;
}